$primary-blue: #1e56d9;
$text-dark: #111;
$text-gray: #555;

.our-promise {
    padding: 80px 80px;
    background-color: #ffffff;

    &__container {
        max-width: 1400px;
        margin: 0 auto;
    }

    &__header {
        max-width: 600px;
        margin-bottom: 60px;

        h6 {
            font-family: sans-serif;
            font-weight: 500;
            font-style: Semibold;
            font-size: 52px;
            leading-trim: NONE;
            line-height: 105%;
            letter-spacing: -3%;
            margin-bottom: 20px;
            background: linear-gradient(100deg,
                    #1C1C1C 70%,
                    #1F61E1 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

            .our-promise__highlight {

                background: linear-gradient(180deg,
                        #0b1d42 50%,
                        #1F61E1 100%);


                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: 600;
            }
        }

        p {
            font-family: sans-serif;
            font-weight: 500;
            font-style: Regular;
            font-size: 20px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: -2%;
            color: #1B1919;

        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__icon {
        color: $primary-blue;
        font-size: 3.5rem;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            /* Add a slight stroke to icons to make them bolder similar to the original design */
            stroke-width: 1px;
        }
    }

    &__title {
        font-family: sans-serif;
        font-weight: 600;
        font-style: Semibold;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 130%;
        letter-spacing: 0%;
        color: #1B1919;
        margin-bottom: 12px;
    }

    &__desc {
        font-family: sans-serif;
        font-weight: 300;
        font-style: Regular;
        font-size: 15px;
        leading-trim: NONE;
        line-height: 130%;
        letter-spacing: -2%;
        color: #1B1919;

    }

    @media (max-width: 1024px) {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        padding: 60px 20px;

        &__header {
            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.1rem;
            }
        }

        &__grid {
            grid-template-columns: 1fr;
        }
    }
}